a(href='/')
  img(src='images/64_popup.jpg')
p Welcome to #{title}
form(action='/session', method='POST')
  label.topic Title:
  input.topic(type='text', value='', name='topic', size='30') 
  label.speaker Speaker:
  input.speaker(type='text', value='', name='speaker', size='25')  
  label.desc Description:
  textarea.desc(value='', name='description', rows='5', cols='25')
  input.submit(type='submit', value='Post')
br
- if(sessions)
  h1.speakersList List of Sessions
  table(border="1")  
    - sessions.forEach(function(session) {    
      tr
        td                
          label Title:
          = session.topic
          br
          br       
          label Speaker:
          = session.speaker        
          br
          br
          label Description:
          = session.description
          br
          br
    - });